* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-rosa);
}

:root {
    --cor-rosa: #FFC1C1;
    --cor-preto: #1C1C1C;
}

.lista {
    display: flex;
    gap: 1rem;
}

.item {
    width: 250px;
    height: 450px;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 30px;

}

p{
    color: white;
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
    opacity: 0;
}

.item:hover {
    transform: scale(1.05);
}

.item:hover p{
    opacity: 1;
    top: 50%;
}

.lista:hover .item:not(:hover){
    filter: blur(5px);
}